body{
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;	
	font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);

}
p,a{
    color: rgba(255, 255, 255, 0.7);
}
h1,h2{
   color: rgba(255, 255, 255, 1); 
}
#body-opacity{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
	opacity: 0.70;
    background-color: #000000;
}

#global{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%;
}
/* Header*/
header {    
    position: relative;
    text-align: center; 
    text-transform: uppercase;
	padding-bottom: 40px;
    padding-top: 100px;    
}

#header_title {
    color: #fff;    
    font-size: 68px;    
    font-weight: 300;
    letter-spacing: 1.6px;
    line-height: 1;     
    text-transform: uppercase;
	
}

.title-content{
    text-align: center; 
    text-transform: uppercase;
    font-weight: normal;

}
/* Nav*/

nav{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;	
}

li {
    display: inline-block;    
}
nav a {      
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;    
	letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 20px 16px;
    line-height: 60px;
	
}

nav a:hover { 
    color: rgba(255, 255, 255, 1);    
}

.active { 
    font-weight:700;   
	color: rgba(255, 255, 255, 1);
}



/* Footer */

#footer-left{
    float: left;
    max-width: 29%;
    padding: 0 2%;
}
#footer-center{
    float: left;
	max-width: 29%;
    padding: 0 2%;
}
#footer-right{
	float: left;
	max-width: 29%;
    padding: 0 2%;
}

.footer-date{    
    color: #666;
    font-size:13px;    
    letter-spacing: 1.6px;
    line-height: 2;
    text-transform: uppercase;
}

#footer-img{
    height: auto;    
    max-width: 100%;    
}

.footer-a{    
    color: rgba(255, 255, 255, 0.7);
}

footer li {
    margin-bottom: 10px;
}

.premier_footer{
padding-top: 50px;
border-top: 1px solid rgba(255, 255, 255, 0.2);
overflow: hidden;
padding-top: 30px;
margin-bottom: 30px;

}

.footer-btn{
 color: rgba(255, 255, 255, 1);
 margin: 10px;
}


.footer-btn:hover{
 color: rgba(255, 255, 255, 0.7);

}